* {
   font-family: 'Roboto', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   outline: none;
   border: none;
   transition: all .3s linear;
   list-style: none;
   
}

:root {
   --grey: #778898;
   --dark: #48453e;
   --lightblue: #91ced6;
   --green: #8ab500;
   --blue: #3d858b;
   --red: #F05454;
}

html {
   font-size: 14px;
   overflow-x: hidden;
}

body {
   overflow-x: hidden;
}

section {
   background-color: #fff;
   margin: 5rem;
}

.section-title{
   color: var(--red);
   margin-bottom: 2rem;
    
}

html::-webkit-scrollbar {
   width: 1.1rem;
}

html::-webkit-scrollbar-track {
   background: var(--grey);
}

html::-webkit-scrollbar-thumb {
   background: var(--red);
}

/* header */

header {
   display: flex;
   align-items: center;
   justify-content: center;
 
   top: 0;
   left: 0;
   z-index: 1000;
   width: 100%;
   background: rgb(119, 136, 152 , .5);
   padding: 3%;
   box-shadow: 0 0 40px rgba(0, 0, 0, .2) inset;
}

header .navbar ul {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   margin: 0;
}

header .navbar ul li{
   display: flex;
   justify-content: center;
   text-align: center;
   width: 13vw;
}

header .navbar ul li a {
   font-size: 2.5rem;
   color: var(--dark);
   text-decoration: none;
   font-weight: bolder;
}

header .navbar ul li a:hover {
   color: var(--red);
   font-size: 1.9rem;;
   text-decoration: none;
   border-radius: 2rem;
   border: 2px solid var(--blue);
   padding: 0 2rem  ;
   background-color: rgb(255, 255, 255, .5);
}

/* burger menu */

header #burger-menu {
   cursor: pointer;
   height: 30px;
   width: 30px;
margin-right: -85%;
   overflow: visible;
   position: relative;
   z-index: 2;
   display: none;
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
   background: var(--red);
   display: block;
   height: 5px;
   opacity: 1;
   position: absolute;
   transition: 0.5s ease-in-out;
}

#burger-menu span:before,
#burger-menu span:after {
   content: "";
}

#burger-menu span {
   top: 13px;
   width: 30px;
}

#burger-menu span:before {
   top: -10px;
   width: 30px;
}

#burger-menu span:after {

   top: 10px;
   width: 30px;
}

#burger-menu.close span {
   transform: rotate(-45deg);
   top: 10px;
   width: 30px;
   background-color: var(--red);
}

#burger-menu.close span:before {
   top: 0px;
   transform: rotate(90deg);
   width: 30px;
   background-color: var(--red);
}

#burger-menu.close span:after {
   top: 0px;
  
   transform: rotate(90deg);
   opacity: 0;
   width: 0;
}

#menu {
   z-index: 1;
   width: 30%;
   min-height: 15%;
   position: fixed;
   top: 0;
   left:70%;
   visibility: hidden;
   opacity: 0;
   text-align: right;
   padding-top: 3rem;
   padding-right: 2rem;
   transition: all 0.4s ease-in-out;
}

#menu.overlay {
   visibility: visible;
   opacity: 1;
   padding-top: 6rem;
   background: var(--lightblue);
}

#menu li {
   list-style: none;
}

#menu a {
   color: var(--dark);
   display: block;
   font-size: 1.2rem;
   margin-bottom: 20px;
   text-decoration: none;
}

#menu a:hover {
   font-size: 1.5rem;
   color: #fff;
}

/* About section */

#about{
   margin: auto;
   margin-top: 5rem;
   margin-bottom: 5rem;
   width: 70%;
}

#about-container {
   display: flex;
   flex-wrap: wrap;
   overflow: hidden;
}
.about-text{
   margin: 2rem ;
   max-width:45%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 5rem;
}

.photo{ 
   display: flex;
   justify-content: center;
   align-items: center;
   max-height: 60vh;
   max-width: 40%;
   margin: 0 0 2% 2%;
   background-color: rgb(255, 194, 194, .2);
   box-shadow: -11px 16px 23px -5px rgba(34, 60, 80, 0.16);
   border-radius: 2rem;
}

#myPhoto{
   object-fit: contain;
   width: 100%;
   height: 90%;
   }



/*My skils section*/

#skills{
   width:70%;
   height: 30%;
   margin:auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   background-color: rgb(119,136,152, 0.2);
   box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
   border-radius: .9rem .9rem 0 0;
   padding: 1rem 0 0 0;
}

.myskills{
   display:flex;
   flex-direction:column;
   width:80%;
  
}

.skils-text{
   display:flex;
   flex-wrap:wrap;
}

.skils-list{
   display: flex;
   justify-content:space-around;
   flex-wrap:wrap;
   background-color: rgb(119,136,152, 0.4);
   color: #fff;
   border-radius: 1rem 1rem 0 0;
   padding: 1rem;
   gap: 1rem;
}


/*Portfolio section*/
.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin:auto;
   margin-top: 5rem;
}

.item-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 4rem;
}

.item-container .card {
   width: 30rem;
   height: 30rem;
   padding: 1.5rem;
   border: 1px solid --dark;
   border-radius: .9rem;
   box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
   display: flex;
   flex-direction: column;
}

.item-container .card:hover {
   box-shadow: 0 0 10px 5px rgb(167, 187, 199);
}

.item-container .card .image {
   width: 100%;
   height: 60%;
   margin: 10px;
   align-self: center;
}

.item-container .image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.card-text {
   height: 30%;
   display: flex;
   flex-direction: column;
   margin-top: 1rem;
   gap: .5rem;
}

.card-text p {
   color: var(--dark);
}

.ditails {
   margin: 5px 0 0 0;
   width: 90px;
   height: 25px;
   border-radius: 50%;
   align-self: flex-end;
   background-color: #F05454;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.ditails:hover {
   background-color: #30475E;
   transition: all .7s ease;
}

.ditails a {
   color: #fff;
   font-weight: bolder;
   letter-spacing: 1px;
}

/*Contact section*/
.contact {
   background-color: #f5f5f5;
   margin: 5rem 0 0;
   min-height: 60%;
}

.mes {
   display: flex;
   flex-direction: column;
   margin: 0 20% 0;
   padding: 2rem;
}

.one {
   padding: 1rem;
   border: none;
   border-radius: 5px;
   box-sizing: border-box;
   margin: 1rem 0 1rem;
   font-size: 1.2rem;
}

input:hover {
   box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

textarea:hover {
   box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.btn {
   background-color: #F05454;
   border: none;
   border-radius: 25px;
   padding: 1.2rem;
   color: #fff;
   font-weight: bold;
   letter-spacing: .5px;
   width: 30%;
   margin: 1rem;
   align-self: center;
}



/*Footer section*/
footer {
   background-color: var(--grey);
   padding: 2rem 0 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

#contact-me {
   display: flex;
   padding: 2rem;
   gap: 1rem;
}

.materials{
   color: #fff;
}


/* media queries  */

@media all and (max-width: 1199px){
   html {
         font-size: 65%;
      }
}

@media all and (max-width:991px) {

   html {
      font-size: 55%;
   }
   .about-text {
      margin: auto;
      gap: 1rem;
   }
}

@media all and (max-width:768px) {

header .navbar ul li a {
      font-size: 1.8rem;
    }

}

@media all and (max-width:500px) {

   html {
      font-size:60%;
   }

   section {
      padding: 1rem 1rem;
      padding-top: 1rem;
   }

   header #burger-menu {
      display: block;
      }
      
   header .navbar {
      position: fixed;
      opacity: 0;
   }

   #about {
      margin: 1rem 3rem 2rem;

   }
   #about-container {
      flex-direction: column;
      align-items: center;
   }

   .about-text {
      margin-top: .5rem;
      min-width: 100%;
      justify-content: flex-start;
      gap: 1rem;
   }
      .photo{
         min-height: 70%;
         min-width:60%;
         margin: auto;
      }

   .container{
      margin-top: 1rem;
   }
}

